.header {
  margin-top: 350px;
  background: #ECEFF1;
  overflow: auto;
  background-color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: url("/assets/images/geometry.svg");
  background-repeat: repeat;
  color: white;
  min-height: 400px;
  padding: 200px 20px; 
  padding-bottom: 40px;
  text-align: center;
}

.header h2 {
  color: #e0921c; 
  margin: 0;
  margin-bottom: 30px;
  font-size: 2rem;
}

.header h3 {
  color: #e7d60f; 
}