.game-board {
  margin: 50px;
/*  padding: 50px*/
  background: #e0a919;
  max-height: 950px;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
